.PeopleTable {
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid gray;
}

.th {
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
}

.sorted {
  background-color: lightyellow;
}
